<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="SchoolAdmin" asp-controller="Home" asp-action="Index">Начало</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="SchoolAdmin" asp-controller="Groups" asp-action="Index">Групи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="SchoolAdmin" asp-controller="Teachers" asp-action="Index">Учители</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="SchoolAdmin" asp-controller="Students" asp-action="Index">Ученици</a>
    </li>
</ul>

<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-outline-secondary" asp-area="Teacher" asp-controller="Home" asp-action="Index">Учител</a>
    <a class="btn btn-secondary disabled">Админ</a>
</div>