<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Начало</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Schools" asp-action="Index">Училища</a>
    </li>
</ul>