@{
    ViewData["Title"] = "Моите изпитни материали";
}

<div class="text-end">
    <a class="btn btn-primary" asp-action="Add">Създай изпит</a>
</div>

<h3 class="text-center text-secondary">@ViewData["Title"]</h3>