@model SchoolViewModel

@inject IGroupService groupService
@inject ITeacherService teacherService
@inject IStudentService studentService

@{
    ViewData["Title"] = "Начало";

    string schoolFullName = Model.Type + " " + Model.Name + " - " + Model.City;
    string schoolId = Model.Id;

    var groupModel = new SummaryViewModel()
    {
        Id = Model.Id,
        ImageSrc = "images/group_icon.png",
        Title = "Групи",
        Value = await groupService.GetGroupsCountInSchoolAsync(schoolId),
        Area = "SchoolAdmin",
        Controller = "Groups",
        Action = "Index",
    };
    var teacherModel = new SummaryViewModel()
    {
        Id = Model.Id,
        ImageSrc = "images/teacher_icon.png",
        Title = "Учители",
        Value = await teacherService.GetTeachersCountInSchoolAsync(schoolId),
        Area = "SchoolAdmin",
        Controller = "Teachers",
        Action = "Index",
    };
    var studentModel = new SummaryViewModel()
    {
        Id = Model.Id,
        ImageSrc = "images/student_icon.png",
        Title = "Ученици",
        Value = await studentService.GetStudentsCountInSchoolAsync(schoolId),
        Area = "SchoolAdmin",
        Controller = "Students",
        Action = "Index",
    };
}

<h3 class="text-center">@schoolFullName</h3>

<div class="row justify-content-center">
    <partial name="_SummaryPartial" model="@groupModel" />
    <partial name="_SummaryPartial" model="@teacherModel" />
    <partial name="_SummaryPartial" model="@studentModel" />
</div>

