@inject IGroupService groupService
@inject ITeacherService teacherService
@inject IStudentService studentService

@{
    ViewData["Title"] = "Начало";

    var groupModel = new SummaryViewModel()
    {        
        ImageSrc = "images/group_icon.png",
        Title = "Групи",
        Value = await groupService.GetGroupsCountAsync(),
        Area = "SchoolAdmin",
        Controller = "Groups",
        Action = "Index",
    };
    var teacherModel = new SummaryViewModel()
    {        
        ImageSrc = "images/teacher_icon.png",
        Title = "Учители",
        Value = await teacherService.GetTeachersCountAsync(),
        Area = "SchoolAdmin",
        Controller = "Teachers",
        Action = "Index",
    };
    var studentModel = new SummaryViewModel()
    {        
        ImageSrc = "images/student_icon.png",
        Title = "Ученици",
        Value = await studentService.GetStudentsCountAsync(),
        Area = "SchoolAdmin",
        Controller = "Students",
        Action = "Index",
    };
}

<h3 class="text-center">@ViewData["SchoolName"]</h3>

<div class="row justify-content-center">
    <partial name="_SummaryPartial" model="@groupModel" />
    <partial name="_SummaryPartial" model="@teacherModel" />
    <partial name="_SummaryPartial" model="@studentModel" />
</div>

