@{
    ViewData["Title"] = "Добре дошли в Даскалник";
}

<div class="text-center">
    <h1 class="text-secondary">
        @ViewData["Title"]</h3>
        <p class="fw-bold text-secondary">Започнете учебното приключение с най-добрата платформа за училищни групи.</p>
</div>
<div class="row">
    <h4 class="text-secondary">За нас</h4>
    <p>
        Даскалник е платформа, която подпомага учители и ученици в създаването
        и управлението на училищни групи за обмен на материали и знания с учебна цел.
        Ние сме тук, за да улесним образователния процес и да подкрепим общността
        от учители и ученици.
    </p>
</div>
<div class="row mt-3">
    <h4 class="text-secondary">Какво предлагаме</h4>
    <div class="col">
        <ul>
            <li>
                <span class="fw-bold text-secondary">Създаване на групи:</span> Създайте лесно групи за ученици с обща учебна цел.
            </li>
            <li>
                <span class="fw-bold text-secondary">Управление на групи:</span> Организирайте учениците, задачите и материалите в рамките на вашата група.
            </li>
            <li>
                <span class="fw-bold text-secondary">Споделяне на материали:</span> Споделяйте учебни материали, ресурси и домашни задания с участниците в групата.
            </li>
            <li>
                <span class="fw-bold text-secondary">Обсъждания и въпроси:</span> Поддържайте активно обсъждане и помощ в групата чрез форум и чат.
            </li>
        </ul>
    </div>
</div>
<div class="row mt-3">
    <h4 class="text-secondary">Как да започнете</h4>
    <div class="col">
        <ol>
            <li>
                <span class="fw-bold text-secondary">Регистрирайте се:</span>  Създайте своя профил и започнете да създавате групи.
            </li>
            <li>
                <span class="fw-bold text-secondary">Създайте група:</span> Изберете учебна тема и създайте група за ученици.
            </li>
            <li>
                <span class="fw-bold text-secondary">Поканете участници:</span> Поканете ученици и колеги да се присъединят към вашата група.
            </li>
            <li>
                <span class="fw-bold text-secondary">Споделяйте материали:</span> Качете материали и задачи, които ще обогатят учебния процес.
            </li>
        </ol>
    </div>
</div>
<div class="row mt-3">
    <h4 class="text-secondary">Защо избираме <span class="fw-bold">"Даскалник"</span></h4>
    <div class="col">
        <ul>
            <li>
                <span class="fw-bold text-secondary">Лесен за използване:</span> Интуитивен интерфейс, съобразен с нуждите на учители и ученици.
            </li>
            <li>
                <span class="fw-bold text-secondary">Сигурност и защита на данните:</span> Вашият опит винаги е защитен и поверителен.
            </li>
            <li>
                <span class="fw-bold text-secondary">Сътрудничество и обмен на знания:</span> Подкрепяме сътрудничеството и обмена на знания за постигане на общи цели.
            </li>
        </ul>
    </div>
</div>
