@model SummaryViewModel

<div class="col-sm-6 col-md-3 mt-4">
    <div class="card align-items-center justify-content-center">
        <img class="card-img-top" src="@Model.ImageSrc">
        <div class="justify-content-center align-items-center">
            <div class="text-center item-name">@Model.Title</div>
            <div class="text-center item-value">@Model.Value</div>
        </div>
    </div>
</div>